<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-patient-course-of-action-heading" jhiTranslate="rapidApp.patientCourseOfAction.home.createOrEditLabel">Create or edit a Patient Course Of Action</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.patientCourseOfAction.assignmentDate" for="field_assignmentDate">Assignment Date</label>
                    <div class="d-flex">
                        <input id="field_assignmentDate" type="datetime-local" class="form-control" name="assignmentDate" formControlName="assignmentDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.patientCourseOfAction.patient" for="field_patient">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patient">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('patient')!.value?.id ? editForm.get('patient')!.value : patientOption" *ngFor="let patientOption of patients; trackBy: trackById">{{ patientOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.patientCourseOfAction.assessment" for="field_assessment">Assessment</label>
                    <select class="form-control" id="field_assessment" name="assessment" formControlName="assessment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="assessmentOption.id === editForm.get('assessment')!.value?.id ? editForm.get('assessment')!.value : assessmentOption" *ngFor="let assessmentOption of assessments; trackBy: trackById">{{ assessmentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
