<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-foot-decoding-measurement-heading" jhiTranslate="rapidApp.footDecodingMeasurement.home.createOrEditLabel">Create or edit a Foot Decoding Measurement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.footDecodingMeasurement.leftFront" for="field_leftFront">Left Front</label>
                    <input type="number" class="form-control" name="leftFront" id="field_leftFront"
                           formControlName="leftFront"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.footDecodingMeasurement.leftHeel" for="field_leftHeel">Left Heel</label>
                    <input type="number" class="form-control" name="leftHeel" id="field_leftHeel"
                           formControlName="leftHeel"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.footDecodingMeasurement.rightFront" for="field_rightFront">Right Front</label>
                    <input type="number" class="form-control" name="rightFront" id="field_rightFront"
                           formControlName="rightFront"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.footDecodingMeasurement.rightHeel" for="field_rightHeel">Right Heel</label>
                    <input type="number" class="form-control" name="rightHeel" id="field_rightHeel"
                           formControlName="rightHeel"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.footDecodingMeasurement.centerOfPressure" for="field_centerOfPressure">Center Of Pressure</label>
                    <input type="number" class="form-control" name="centerOfPressure" id="field_centerOfPressure"
                           formControlName="centerOfPressure"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.footDecodingMeasurement.footDecodingMeasurementRaw" for="field_footDecodingMeasurementRaw">Foot Decoding Measurement Raw</label>
                    <select class="form-control" id="field_footDecodingMeasurementRaw" name="footDecodingMeasurementRaw" formControlName="footDecodingMeasurementRaw">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="footDecodingMeasurementRawOption.id === editForm.get('footDecodingMeasurementRaw')!.value?.id ? editForm.get('footDecodingMeasurementRaw')!.value : footDecodingMeasurementRawOption" *ngFor="let footDecodingMeasurementRawOption of footdecodingmeasurementraws; trackBy: trackById">{{ footDecodingMeasurementRawOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
