<div>
    <h2 id="page-heading">
        <span jhiTranslate="rapidApp.balancePercentile.home.title">Balance Percentiles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-balance-percentile" [routerLink]="['/balance-percentile/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rapidApp.balancePercentile.home.createLabel">
            Create a new Balance Percentile
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="balancePercentiles?.length === 0">
        <span jhiTranslate="rapidApp.balancePercentile.home.notFound">No balancePercentiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="balancePercentiles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gender"><span jhiTranslate="rapidApp.balancePercentile.gender">Gender</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="testCode"><span jhiTranslate="rapidApp.balancePercentile.testCode">Test Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="minimumLength"><span jhiTranslate="rapidApp.balancePercentile.minimumLength">Minimum Length</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="percentileRank"><span jhiTranslate="rapidApp.balancePercentile.percentileRank">Percentile Rank</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ageGroup.id"><span jhiTranslate="rapidApp.balancePercentile.ageGroup">Age Group</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let balancePercentile of balancePercentiles ;trackBy: trackId">
                    <td><a [routerLink]="['/balance-percentile', balancePercentile.id, 'view']">{{ balancePercentile.id }}</a></td>
                    <td jhiTranslate="{{ 'rapidApp.Gender.' + balancePercentile.gender }}">{{ balancePercentile.gender }}</td>
                    <td jhiTranslate="{{ 'rapidApp.TestCode.' + balancePercentile.testCode }}">{{ balancePercentile.testCode }}</td>
                    <td>{{ balancePercentile.minimumLength }}</td>
                    <td>{{ balancePercentile.percentileRank }}</td>
                    <td>
                        <div *ngIf="balancePercentile.ageGroup">
                            <a [routerLink]="['/age-group', balancePercentile.ageGroup?.id, 'view']" >{{ balancePercentile.ageGroup?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/balance-percentile', balancePercentile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/balance-percentile', balancePercentile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(balancePercentile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="balancePercentiles?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
