<div>
    <h2 id="page-heading">
        <span jhiTranslate="rapidApp.patientNote.home.title">Patient Notes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-patient-note" [routerLink]="['/athlete-note/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rapidApp.patientNote.home.createLabel">
            Create a new Athlete Note
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="patientNotes?.length === 0">
        <span jhiTranslate="rapidApp.patientNote.home.notFound">No Athlete Notes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="patientNotes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="rapidApp.patientNote.dateCreated">Date Created</span></th>
                    <th scope="col" ><span jhiTranslate="rapidApp.patientNote.noteText">Note Text</span></th>
                    <th scope="col" ><span jhiTranslate="rapidApp.patientNote.patient">Patient</span></th>
                    <th scope="col" ><span jhiTranslate="rapidApp.patientNote.createdBy">Created By</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patientNote of patientNotes ;trackBy: trackId">
                    <td><a [routerLink]="['/patient-note', patientNote.id, 'view']">{{ patientNote.id }}</a></td>
                    <td>{{ patientNote.dateCreated | date:'medium' }}</td>
                    <td>{{ patientNote.noteText }}</td>
                    <td>
                        <div *ngIf="patientNote.patient">
                            <a [routerLink]="['/patient', patientNote.patient?.id, 'view']" >{{ patientNote.patient?.lastName }}</a>
                        </div>
                    </td>
                    <td>
                        {{ patientNote.createdBy?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/patient-note', patientNote.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/patient-note', patientNote.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(patientNote)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
