  <!-- <app-video-player></app-video-player> -->
<div class="main-wrapper">
  <app-header class="header-wrap"></app-header>

  <div class="left-right-content">
    <app-sidenav class="header-wrap"></app-sidenav>
    <!-- right section start here -->
    <div class="right-content-wrap">

      <!-- video frame and pitch html start here -->
      <div class="pitch-info-wrap">
        <div class="pitch-left-wrap">
          <app-video-player></app-video-player>
        </div>

        <div class="pitch-right-wrap">
          <h5 class="heading"> Pitch Type: Fastball </h5>
          <div class="card-wrap">
            <div class="card-head">
              Pressure and Stance
            </div>
            <div class="card-body">
              <img src="assets/images/moment-info.jpg" alt="moment"/>
            </div>
          </div>

          <app-vertical-force></app-vertical-force>

          <app-center-pressure></app-center-pressure>

          <app-tempo-rhythm></app-tempo-rhythm>
        </div>
        
      </div>
      <!-- video frame and pitch html end here -->


    </div>
    <!-- right section end here -->
  </div>

</div>
<router-outlet></router-outlet>