<div class="row align-items-center">
  <div class="col-md-1">
    <div>
        <span *ngIf="leftTotalPressure">{{ (leftForePressure / (leftForePressure + leftRearPressure)) * 100 | number: '1.0-0' }}%</span>
        <img src="/content/images/left_foot_512x512_white.png" style="width: 90px;" />
    </div>
    <span *ngIf="leftTotalPressure">{{ (leftRearPressure / (leftForePressure + leftRearPressure)) * 100 | number: '1.0-0' }}%</span>

  </div>
  <div class="col-md-1">
    <!-- <fa-icon size="4x" icon="arrow-left"></fa-icon> -->
    <span *ngIf="leftTotalPressure"
          >{{ (leftTotalPressure / totalPressure) * 100 | number: '1.0-0' }}% <i class="fas fa-arrow-left"></i
        ></span>
  </div>
  <div class="col-md-8">
    <div id="scan-page">
      <canvas #canvas width="900" height="300"></canvas>
      <div id="frame-info">
        <div id="frame-time">{{ frameTime }}</div>
        <div id="frame-rate">{{ frameRate }}</div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <span *ngIf="rightTotalPressure">{{ (rightTotalPressure / totalPressure) * 100 | number: '1.0-0' }}%</span>

    <!-- <fa-icon size="4x" icon="arrow-right"></fa-icon> -->
  </div>
  <div class="col-md-1">
    <div>
        <span *ngIf="rightTotalPressure">{{ (rightForePressure / (rightForePressure + rightRearPressure)) * 100 | number: '1.0-0' }}%</span>
        <img style="width: 100%;" src="/content/images/right_foot_512x512_white.png" style="width: 90px;"/>
        <span *ngIf="rightTotalPressure">{{ (rightRearPressure / (rightForePressure + rightRearPressure)) * 100 | number: '1.0-0' }}%</span>
      </div>
  </div>
</div>
