<div>
    <h2 id="page-heading">
        <span jhiTranslate="rapidApp.location.home.title">Locations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-location" [routerLink]="['/location/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rapidApp.location.home.createLabel">
            Create a new Location
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="locations?.length === 0">
        <span jhiTranslate="rapidApp.location.home.notFound">No locations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="locations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="rapidApp.location.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="streetAddress1"><span jhiTranslate="rapidApp.location.streetAddress1">Street Address 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="streetAddress2"><span jhiTranslate="rapidApp.location.streetAddress2">Street Address 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="city"><span jhiTranslate="rapidApp.location.city">City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postalCode"><span jhiTranslate="rapidApp.location.postalCode">Postal Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stateOrProvince.abbreviation"><span jhiTranslate="rapidApp.location.stateOrProvince">State Or Province</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="country.abbreviation"><span jhiTranslate="rapidApp.location.country">Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="careProvider.id"><span jhiTranslate="rapidApp.location.careProvider">Care Provider</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clinic.name"><span jhiTranslate="rapidApp.location.clinic">Clinic</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let location of locations ;trackBy: trackId">
                    <td><a [routerLink]="['/location', location.id, 'view']">{{ location.id }}</a></td>
                    <td>{{ location.name }}</td>
                    <td>{{ location.streetAddress1 }}</td>
                    <td>{{ location.streetAddress2 }}</td>
                    <td>{{ location.city }}</td>
                    <td>{{ location.postalCode }}</td>
                    <td>
                        <div *ngIf="location.stateOrProvince">
                            <a [routerLink]="['/state-or-province', location.stateOrProvince?.id, 'view']" >{{ location.stateOrProvince?.abbreviation }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="location.country">
                            <a [routerLink]="['/country', location.country?.id, 'view']" >{{ location.country?.abbreviation }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="location.careProvider">
                            <a [routerLink]="['/coach', location.careProvider?.id, 'view']" >{{ location.careProvider?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="location.clinic">
                            <a [routerLink]="['/clinic', location.clinic?.id, 'view']" >{{ location.clinic?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/location', location.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/location', location.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(location)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="locations?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
