<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-location-heading" jhiTranslate="rapidApp.location.home.createOrEditLabel">Create or edit a Location</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.location.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.location.streetAddress1" for="field_streetAddress1">Street Address 1</label>
                    <input type="text" class="form-control" name="streetAddress1" id="field_streetAddress1"
                           formControlName="streetAddress1"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.location.streetAddress2" for="field_streetAddress2">Street Address 2</label>
                    <input type="text" class="form-control" name="streetAddress2" id="field_streetAddress2"
                           formControlName="streetAddress2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.location.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.location.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                           formControlName="postalCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.location.stateOrProvince" for="field_stateOrProvince">State Or Province</label>
                    <select class="form-control" id="field_stateOrProvince" name="stateOrProvince" formControlName="stateOrProvince">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stateOrProvinceOption.id === editForm.get('stateOrProvince')!.value?.id ? editForm.get('stateOrProvince')!.value : stateOrProvinceOption" *ngFor="let stateOrProvinceOption of stateorprovinces; trackBy: trackById">{{ stateOrProvinceOption.abbreviation }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.location.country" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" formControlName="country">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countryOption.id === editForm.get('country')!.value?.id ? editForm.get('country')!.value : countryOption" *ngFor="let countryOption of countries; trackBy: trackById">{{ countryOption.abbreviation }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.location.careProvider" for="field_careProvider">Care Provider</label>
                    <select class="form-control" id="field_careProvider" name="careProvider" formControlName="careProvider">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="careProviderOption.id === editForm.get('careProvider')!.value?.id ? editForm.get('careProvider')!.value : careProviderOption" *ngFor="let careProviderOption of careproviders; trackBy: trackById">{{ careProviderOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.location.clinic" for="field_clinic">Clinic</label>
                    <select class="form-control" id="field_clinic" name="clinic" formControlName="clinic">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clinicOption.id === editForm.get('clinic')!.value?.id ? editForm.get('clinic')!.value : clinicOption" *ngFor="let clinicOption of clinics; trackBy: trackById">{{ clinicOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
