<div>
    <h2 id="page-heading">
        <span jhiTranslate="rapidApp.courseOfActionMapping.home.title">Course Of Action Mappings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-course-of-action-mapping" [routerLink]="['/course-of-action-mapping/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rapidApp.courseOfActionMapping.home.createLabel">
            Create a new Course Of Action Mapping
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="courseOfActionMappings?.length === 0">
        <span jhiTranslate="rapidApp.courseOfActionMapping.home.notFound">No courseOfActionMappings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="courseOfActionMappings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="label"><span jhiTranslate="rapidApp.courseOfActionMapping.label">Label</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="condition.name"><span jhiTranslate="rapidApp.courseOfActionMapping.condition">Condition</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="footType.name"><span jhiTranslate="rapidApp.courseOfActionMapping.footType">Foot Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="areaOfConcentration.name"><span jhiTranslate="rapidApp.courseOfActionMapping.areaOfConcentration">Area Of Concentration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clinic.name"><span jhiTranslate="rapidApp.courseOfActionMapping.clinic">Clinic</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observation.name"><span jhiTranslate="rapidApp.courseOfActionMapping.observation">Observation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let courseOfActionMapping of courseOfActionMappings ;trackBy: trackId">
                    <td><a [routerLink]="['/course-of-action-mapping', courseOfActionMapping.id, 'view']">{{ courseOfActionMapping.id }}</a></td>
                    <td>{{ courseOfActionMapping.label }}</td>
                    <td>
                        <div *ngIf="courseOfActionMapping.condition">
                            <a [routerLink]="['/condition', courseOfActionMapping.condition?.id, 'view']" >{{ courseOfActionMapping.condition?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="courseOfActionMapping.footType">
                            <a [routerLink]="['/foot-type', courseOfActionMapping.footType?.id, 'view']" >{{ courseOfActionMapping.footType?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="courseOfActionMapping.areaOfConcentration">
                            <a [routerLink]="['/area-of-concentration', courseOfActionMapping.areaOfConcentration?.id, 'view']" >{{ courseOfActionMapping.areaOfConcentration?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="courseOfActionMapping.clinic">
                            <a [routerLink]="['/clinic', courseOfActionMapping.clinic?.id, 'view']" >{{ courseOfActionMapping.clinic?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="courseOfActionMapping.observation">
                            <a [routerLink]="['/observation', courseOfActionMapping.observation?.id, 'view']" >{{ courseOfActionMapping.observation?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/course-of-action-mapping', courseOfActionMapping.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/course-of-action-mapping', courseOfActionMapping.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(courseOfActionMapping)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="courseOfActionMappings?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
