@font-face {
    font-family: "Poppins-ExtraLight";
    src: url("assets/fonts/Poppins-ExtraLight.ttf") format("ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Poppins-Light";
    src: url("assets/fonts/Poppins-Light.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("assets/fonts/Poppins-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("assets/fonts/Poppins-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url("assets/fonts/Poppins-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
}

body { background-color:#1c1c1e; font-size:14px; margin:0px; font-family: 'Poppins-Regular', sans-serif; }
.header-wrap { background-color:#2C2C2E; color:#fff; padding:15px 0px; }
.left-right-content { display:flex; min-height:100vh; }
.sidenav-wrap { width:75px; color:#fff; padding:10px 10px; background-color:#2C2C2E; }

.right-content-wrap { padding:15px; }


.pitch-info-wrap { display:flex; }
.pitch-info-wrap .pitch-left-wrap { width:65%; }
.pitch-info-wrap .pitch-left-wrap img { width:100%; }
.pitch-info-wrap .pitch-right-wrap { width:calc(35% - 10px); margin-left:15px; }
.pitch-info-wrap .pitch-right-wrap .heading { color:#fff; font-size:16px; font-family: "Poppins-Medium", sans-serif; }
.pitch-info-wrap .pitch-right-wrap img { width:100%; }
.pitch-info-wrap .pitch-right-wrap .card-wrap { margin-bottom:15px; background-color:#2C2C2E; color:#fff; }
.pitch-info-wrap .pitch-right-wrap .card-wrap .card-head { padding:8px 10px; border-bottom:1px solid #191919; margin-bottom:5px; font-size:12px; }
.pitch-info-wrap .pitch-right-wrap .card-wrap .card-head::before{ display:inline-block; margin-right:5px; vertical-align:0.255em;
    content:""; border-top:0.3em solid; border-right:0.3em solid transparent; border-bottom:0; border-left:0.3em solid transparent; 
} 
.pitch-info-wrap .pitch-right-wrap .card-wrap .card-body { padding:10px; }

