<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-observation-heading" jhiTranslate="rapidApp.observation.home.createOrEditLabel">Create or edit a Observation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.observation.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.observation.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.observation.instructionalText" for="field_instructionalText">Instructional Text</label>
                    <input type="text" class="form-control" name="instructionalText" id="field_instructionalText"
                           formControlName="instructionalText"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.observation.exampleImageUrl" for="field_exampleImageUrl">Example Image Url</label>
                    <input type="text" class="form-control" name="exampleImageUrl" id="field_exampleImageUrl"
                           formControlName="exampleImageUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.observation.internalCode" for="field_internalCode">Internal Code</label>
                    <input type="text" class="form-control" name="internalCode" id="field_internalCode"
                           formControlName="internalCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.observation.observationDuration" for="field_observationDuration">Observation Duration</label>
                    <input type="number" class="form-control" name="observationDuration" id="field_observationDuration"
                           formControlName="observationDuration"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.observation.enabled" for="field_enabled">Enabled</label>
                    <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                           formControlName="enabled"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.observation.displayOrder" for="field_displayOrder">Display Order</label>
                    <input type="number" class="form-control" name="displayOrder" id="field_displayOrder"
                           formControlName="displayOrder"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.observation.category" for="field_category">Category</label>
                    <input type="text" class="form-control" name="category" id="field_category"
                           formControlName="category"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.observation.focusStageNumber" for="field_focusStageNumber">Focus Stage Number</label>
                    <input type="number" class="form-control" name="focusStageNumber" id="field_focusStageNumber"
                           formControlName="focusStageNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.observation.stageCount" for="field_stageCount">Stage Count</label>
                    <input type="number" class="form-control" name="stageCount" id="field_stageCount"
                           formControlName="stageCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rapidApp.observation.visible" for="field_visible">Visible</label>
                    <input type="checkbox" class="form-control" name="visible" id="field_visible"
                           formControlName="visible"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
