
#cameraPreview {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}
.camera-preview{
  border: 2px solid #333;

}

.custom-controls i {
  background-color:#2C2C2E;
  color: #fff;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
}


img {
  object-fit: cover;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.custom-controls {
  display: flex;
}
.flipped {
  transform: scaleX(-1);
}
video.flipped {
  transform: scaleX(-1);
}
button {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
  margin: 5px;
  padding: 5px;
}
input[type='range'] {
  width: 100%;
}
.white-box {
  border: 1px solid white;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
.video-parent {
  position: relative;
}
.delayed-video {
  position: absolute;
  right: 0;
  top: -19px;
}
.opacity {
  opacity: 0;
}
/* Add styles for the select element */
#videoType {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #333;
  color: #ffff;
  cursor: pointer;
}

/* Add styles for the dropdown arrow */
#videoType::after {
  content: '\25BC'; /* Unicode down arrow character */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style the dropdown options */
#videoType option {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Style the dropdown when it's open */
#videoType:focus {
  outline: none;
  border: 1px solid #17a2b8; /* Change to your desired focus color */
}
#playbackSpeed {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #333;
  color: #ffff;
  cursor: pointer;
}
h4 {
  color: #b65506;
}
.margined {
  margin-left: 10%;
}

